{% extends "auth/base.html" %}
{% load static %}


{% block title %} login {% endblock %}

{% block content %}


<section class="login p-fixed d-flex text-center bg-primary common-img-bg">
	<!-- Container-fluid starts -->
	<div class="container-fluid">
		<div class="row">

			<div class="col-sm-12">
				<div class="login-card card-block">
					{% if messages %}
						{% for message in messages %}
						<ul id="mes">
							<li class="alert alert-{{message.tags}} text-center"> {{ message }} </li>
						</ul>
						{% endfor %}
                   {% endif %}
					<form class="md-float-material" method="post">
						{% csrf_token %}
						<div class="text-center">
							<img src="{% static 'assets/images/logo-black.png' %}" alt="logo">
						</div>
						<h3 class="text-center txt-primary">
							Sign In to your account
						</h3>
						<div class="row text-primary">
							<div class="col-md-12">
								<div class="md-input-wrapper">
									<input type="text" class="md-form-control" name="username" required="required"/>
									<label>Username</label>
								</div>
							</div>
							<div class="col-md-12">
								<div class="md-input-wrapper">
									<input type="password" class="md-form-control" name="password" required="required"/>
									<label>Password</label>
								</div>
							</div>
							<div class="col-sm-6 col-xs-12">
							</div>
							<div class="col-sm-6 col-xs-12 forgot-phone text-right mb-4">
								<a href="#" class="text-right f-w-600"> Forget Password?</a>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-10 offset-xs-1">
								<button type="submit" class="btn btn-primary btn-md btn-block text-center m-b-20">LOGIN</button>
							</div>
						</div>
					</form>
					<!-- end of form -->
					<!-- <div class="card-footer"> -->
					<div class="col-sm-12 col-xs-12 text-center">
						<span class="text-muted">Don't have an account?</span>
						<a href="{% url "register" %}" class="f-w-600 p-l-5">Sign up Now</a>
					</div>

						<!-- </div> -->
					
				</div>
				<!-- end of login-card -->
			</div>
			<!-- end of col-sm-12 -->
		</div>
		<!-- end of row -->
	</div>
	<!-- end of container-fluid -->
</section>

<script>
	mes = docuemnt.getElementById("mes");
	setTimeout(function() {
		mes.style.display = "none";
	}, 5000);
</script>

{% endblock %}
