{% extends "components/base.html" %}

{% load static %}


{% block title %} Food Website | Menu {% endblock %}


{% block content %}
{% if messages %}
{% for message in messages  %}
<ul id='mes'>
    <li class="{% if message.tags %} alert alert-{{ message.tags}} {% endif %}"> {{message}} </li>
</ul>
{% endfor %}
{% endif %}
    <div class="home">
      <div class="menu-section">
        <div class="fav-head">
          <h3>Food Menu</h3>
        </div>
        <div class="fav-food">
          {% for menus in menu  %}
          <div class="item" data-id="{{ menus.id }}">
            <div>
              <img
                src="{{ menus.image.url }}"
                alt=""
              />
            </div>
            <h3>{{ menus.name }}</h3>
            <p>
              {{ menus.description }}
            </p>
            <p class="fav-price">N{{ menus.price }} </p>
            {% csrf_token %}
            <input type="hidden" value="{{ menus.name }}" id="itemid">
            <button class="add-to-cart">Add to Cart</button>
          </div>
        {% endfor %}
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    let csrf_token = document.getElementsByName("csrfmiddlewaretoken")[0].value;
    let buttons = document.querySelectorAll(".add-to-cart");

    buttons.forEach(function(button) {
        button.addEventListener("click", function(e) {
            e.preventDefault();

            let item = this.closest(".item");
            let itemID = item.getAttribute("data-id");

            if (!itemID) {
                alert("Item ID is required.");
                return;
            }

            let data = {
                "id": itemID,
            };

            console.log(data);

            $.ajax({
                type: "POST",
                url: "/add_to_cart/",
                dataType: "json",
                data: data,
                cache: false, // Prevent caching issues
                beforeSend: function(xhr) {
                    xhr.setRequestHeader("X-CSRFToken", csrf_token);
                },
                success: function(res) {
                    alert(res.msg);
                    console.log(res);
                    let cartCountElement = document.getElementById("item");
                    console.log(res.total)
                    if (cartCountElement) {
                        cartCountElement.textContent = res.total;
                    }
                },
                error: function(err) {
                    alert("Error: " + (err.responseText || "An error occurred."));
                    console.log(err);
                }
            });
        });
    });
});


</script>

{% endblock %}
