{% extends "auth/base.html" %}
{% load static %}


{% block title %} Register {% endblock %}

{% block content %}
	<section class="login common-img-bg">
		<!-- Container-fluid starts -->
		<div class="container-fluid">
			<div class="row">
					<div class="col-sm-12">
						<div class="login-card card-block bg-white">
							<p>
							{% if messages %}
								<ul class="message">
									{% for message in messages %}
									<li {% if message.tags %} {{message.tags}} {% endif %}> {{message }} </li>
									{% endfor %}
								</ul>
							{% endif %}
							</p>
							<form class="md-float-material" method="post">
								{% csrf_token %}
								<div class="text-center">
									<img src="{% static 'assets/images/logo-black.png' %}" alt="logo">
								</div>
								<h3 class="text-center txt-primary">Create an account </h3>
								<div class="row">
									{% for fields in form %}
									<div class="md-input-wrapper">
										{{fields}}
									</div>
									
									<div class="{{fields.label}} is-invalid" style="display: none;"></div>
									{% endfor %}

								<div class="rkmd-checkbox checkbox-rotate checkbox-ripple b-none m-b-20 d-flex align-items-center justify-content-between">
									<label class="input-checkbox checkbox-primary">
										<input type="checkbox" id="checkbox">
										<span class="checkbox"></span>
									</label>
									<div class="captions">Remember Me</div>
								</div>
								<!-- <a href="#" class="text-secondary pr-5">Forgot Password</a> -->
								<div class="col-xs-10 offset-xs-1">
									<button type="submit" class="btn btn-primary btn-md btn-block waves-effect waves-light m-b-20">Sign up</button>
								</div>
							</form>
							<div class="row">
								<div class="col-xs-12 text-center">
									<span class="text-muted">Already have an account?</span>
									<a href="{% url "login" %}" class="f-w-600 p-l-5"> Sign In Here</a>

								</div>
							</div>
							
							<!-- end of form -->
						</div>
						<!-- end of login-card -->
					</div>
					<!-- end of col-sm-12 -->
				</div>
				<!-- end of row-->
			</div>
			<!-- end of container-fluid -->
	</section>

<script src="{% static 'js/register.js' %}"></script>

{% endblock %}



</body>
</html>
