asgiref            
certifi            
charset-normalizer 
Django             
django-jazzmin     
django-shortcuts   
idna               
pillow             
pip              
requests         
tzdata           
urllib3 
gunicorn
sqlite3==3.3.0
