{% load static extra %}

<header>
    <div class="header">
      <div class="headerbar">
        <div class="account">
          <ul>
            <a href="">
              {% if request.user.is_authenticated %}
              <li class="user_details">
                <i class="fa-solid fa-user" id="user-mb"></i>
                <div class="username name">{{ request.user }}</div>
                <a href="{% url 'logout' %}"><button class="username logout">Logout</button></a>
              </li>
              {% else %}
              <li class="user_details">
                <i class="fa-solid fa-user" id="user-mb"></i>
                <a href="{% url 'register' %}"><button class="username logout">Register</button></a>
                <button class="username logout"><a href="{% url "logout" %}"> Logout </a></button>
              </li>
              {% endif %}
            </a>
            <a href="#">
              <li>
                <i
                  class="fa-solid fa-magnifying-glass searchicon"
                  id="searchicon1"
                ></i>
              </li>
            </a>
            <div class="search" id="searchinput1">
              <input type="search" />
              <i class="fa-solid fa-magnifying-glass srchicon"></i>
            </div>
            <li class="shopping_cart">
              <a href="{% url "cart" %}">
                  <i class="fas fa-shopping-cart"></i>
              </a>
              <sup id="item">{% if total %} {{ total }} {% else %} {% get_cart_count %} {% endif %} </sup>
            </li>

          </ul>
        </div>
        <div class="nav">
          <ul>
            <li class="current"><a href="{% url "home" %}">Home</a></li>
            <li><a href="{% url "about" %}">About</a></li>
            <li><a href="{% url "menu" %}">Food Menu</a></li>
          </ul>
        </div>
      </div>
      <div class="logo">
        <a href="{% url "home" %}"><img src="{% static 'images/My Logo Wide.png' %}" alt="" /></a>
      </div>
      <div class="bar">
        <i class="fa-solid fa-bars"></i>
        <i class="fa-solid fa fa-xmark" id="hdcross"></i>
      </div>
      <div class="nav">
        <ul>
          <li class="{% if home %} current {% endif %}"><a href="{% url "home" %}">Home</a></li>
          <li class="{% if about %} current {% endif %}"><a href="{% url "about" %}">About</a></li>
          <li class="{% if food_menu %} current {% endif %}"><a href="{% url "menu" %}">Food Menu</a></li>
        </ul>
      </div>
      <div class="account">
        <ul>
          <a href="#">
            <li class="user_details">
              <i class="fa-solid fa-user" id="user-lap"></i>
              <button class="username name">{{ request.user }}</button>
              <button class="username logout"><a href="{% url "logout" %}"> Logout </a></button>
            </li>
          </a>
          <a href="#">
            <li>
              <i
                class="fa-solid fa-magnifying-glass searchicon"
                id="searchicon2"
              ></i>
            </li>
          </a>
          <div class="search" id="searchinput2">
            <input type="search" />
            <i class="fa-solid fa-magnifying-glass srchicon"></i>
          </div>
          <li class="shopping_cart">
            <a href="{% url "cart" %}">
                <i class="fas fa-shopping-cart"></i>
            </a>
            <sup id="item">{% if total %} {{ total }} {% else %} {% get_cart_count %} {% endif %} </sup>
          </li>
        </ul>
      </div>
    </div>
</header>
