{% load static %}
<div class="footer">
  <div class="footer-i">
    <div class="logo">
      <img src="{% static 'images/My Logo Wide.png' %}" alt="" />
    </div>
    <div>
      <address>
        <p>Email: solomonegghead@gmail.com</p>
        <p>Youtube: nnaemekasolomon</p>
        <p>
          Mr. Nnaemeka Solomon<br />
          My Street, Sango Ile-dudu, Badagry <br />
          Lagos
        </p>
      </address>
    </div>
  </div>

  <div class="footer-2">
    <img src="{% static 'images/My Logo Short.png' %}" alt="" />
    <h2>Powered by <em>Solo Dev</em></h2>
  </div>
</div>